/*기본설정시작*/
body,
html {
  height: 100%;
}
a {
  color: black;
  text-decoration: none;
}
.hidden {
  width: 1px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  top: 0px;
}
ul.skipmenu_list li a:focus {
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  z-index: 9999;
  background: black;
  color: white;
  text-align: center;
}
/*기본설정끝*/
/*상단영역시작*/
div#header_wrap {
  width: 100%;
  height: 90px; /*펼쳤을때높이240px,닫혔을때높이90px*/
  background: transparent;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999;
  transition: top 0.2s ease-out, background 0.2s ease-out;
  
}
div#header_wrap.selected {
  background: white;
}
div#header_wrap.active{
  background:white;
  top:-90px;
}
header {
  width: 96%;
  height: 100%;
  position: relative;
  left: 0px;
  top: 0px;
}
h1#logo {
  width: 186px;
  height: 29px;
  background: url('/jejureborngil/images/logo.png') no-repeat center;
  position: absolute;
  left: 0px;
  top: 36px;
  text-indent: -9999px;
}
h1#logo>a>p{
  width:100%;
  height:100%;
}
nav#mainmenu {
  width: 44.85%;
  height: 24px;
  position: absolute;
  left: 27.6%;
  top: 40px;
}
ul#mainmenu_list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
ul#mainmenu_list > li {
  width: 25%;
  height: 200px;
  position: relative;
  left: 0px;
  top: 0px;
  /* background: red; */
}
ul#mainmenu_list > li > a {
  font: normal 20px/24px 'Pretendard';
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  /* background: green; */
  transition: 0.2s;
}
ul#mainmenu_list > li.selected > a {
  top: -8px;
}
ul#mainmenu_list > li::after {
  content: '';
  display: block;
  width: 5.8vw;
  height: 1px;
  background: black;
  position: absolute;
  left: 0px;
  top: 30px;
  transform: scale(0, 1);
  transition: 0.2s;
}
ul#mainmenu_list > li.selected::after {
  transform: scale(1, 1);
}

ul.submenu_list {
  position: absolute;
  left: 0px;
  top: 57px;
  width: 100%;
  height:100%;
  opacity: 0;
  display: none;
  /* background: yellow; */
}
ul.submenu_list li {
  width: 100%;
  margin-bottom: 24px;
}
ul.submenu_list li a {
  font: normal 16px 'Pretendard';
  font-weight: 300;
  display:block;
}
/*전체메뉴버튼*/
p.totalmenubar {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 28px;
  background: url('/jejureborngil/images/sidemenubar.png');
  text-indent: -9999px;
  cursor: pointer;
}
/*전체메뉴시작*/
div#totalmenu_wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: white;
  color: black;
  display: flex;
  z-index: 9999;
  display: none;
}
p.close_btn {
  width: 54px;
  height: 54px;
  position: absolute;
  right: 24px;
  top: 16px;
  background: url('/jejureborngil/images/close_btn.png');
  cursor: pointer;
  z-index: 99;
}
div#totalmenu_img {
  width: 50%;
  height: 100%;
  background: url('/jejureborngil/images/totalmenu_img.jpg') no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
}
p.totalmenu_title {
  font: normal 24px 'Pretendard';
  font-weight: 500;
  top: 32px;
  position: absolute;
  left: 50%;
  margin-left: -94px;
}
p.totalmenu_text {
  position: absolute;
  left: 50%;
  top: 117px;
  margin-left: -91px;
  text-align: center;
  font: normal 20px/42px 'Pretendard';
  font-weight: 300;
}
div#totalmenu_nav {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}
nav#totalmenu {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  padding-left: 112px;
  padding-top: 80px;
  box-sizing: border-box;
}
ul#totalmenu_list {
  width: 100%;
  height: 100%;
}
ul#totalmenu_list > li {
  position: relative;
  left: 0px;
  top: 0px;
  height: 128px;
  margin-bottom: 24px;
}
ul#totalmenu_list > li > a {
  font: normal 44px 'Pretendard';
  transform: scale(0, 1);
  height: 200px;
  position: relative;
}
ul#totalmenu_list > li.selected > a {
  position: relative;
}
ul#totalmenu_list > li > a::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: black;
  position: absolute;
  bottom: -8px;
  transform: scale(0, 1);
  transition: 0.2s;
}
ul#totalmenu_list > li.selected > a::after {
  transform: scale(1, 1);
}
ul#totalmenu_list > li.selected > ul {
  position: relative;
}
ul.totalmenu_sublist {
  width: 100%;
  height: auto;
  display: flex;
  gap: 24px;
  position: relative;
  left: 0;
  top: 0px;
}
ul.totalmenu_sublist li {
  margin-top: 20px;
  margin-bottom: 64px;
  position: relative;
  left: 0px;
  top: 0px;
}
ul.totalmenu_sublist li::after {
  content: '';
  display: block;
  width: 1px;
  height: 16px;
  background: #555555;
  position: absolute;
  right: -14px;
  top: 7px;
}
ul.totalmenu_sublist li:last-child::after {
  background: none;
}
ul.totalmenu_sublist li a {
  font: normal 24px 'Pretendard';
  font-weight: 300;
  color: #555555;
}
/*상단영역끝*/
/*하단영역시작*/
div#footer_wrap {
  width: 100%;
  height: 268px;
  background: black;
  position: relative;
  left: 0px;
  top: 0px;
  color: white;
  /* margin-top:112px; */
}
footer {
  width: 100%;
  height: 100%;
}
div#footerlogo_wrap {
  width: 30%;
  height: 100%;
  float: left;
}
p.footer_logo {
  font: bold 20px 'Pretendard';
  margin: 48px 8.98vw;
}
div#footertext_wrap {
  width: 70%;
  height: auto;
  margin-top: 48px;
  float: left;
}
p.footer_text {
  font: normal 16px/24px 'Pretendard';
}
/*하단영역끝*/

/*미디어커리시작*/
@media screen and (max-width: 1400px) {
  nav#totalmenu {
    padding-left: 8vw;
  }
}
@media screen and (max-width: 768px) {
  nav#totalmenu {
    padding-left: 16vw;
  }
  div#totalmenu_img {
    display: none;
  }
  div#totalmenu_nav {
    width: 100%;
  }
}
