/*영상배경시작*/
div#movie_wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
}
video#movie {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  /* display:none; */
}
/*영상배경끝*/
/*비주얼영역시작*/
div#mainheader_wrap {
  width: 100%;
  height: 100%;
  /* background:burlywood; */
  position: relative;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: start;
}
div#mainheader_logo {
  width: auto;
  height: auto;
  font: bold 9em 'Pretendard';
  color: white;
  position: absolute;
  left: 32px;
  bottom: 0px;
}
div#brand_wrap {
  width: 100%;
  min-height: 800px;
  position: relative;
  left: 0px;
  top: 0px;
  color: white;
  display: flex;
  justify-content: center;
}
section#brand {
  width: 96%;
  height: auto;
  position: relative;
  left: 0px;
  top: 0px;
  /* margin-top:340px; */
}
div#brand_img {
  width: 0px;
  height: 656px;
  position: absolute;
  right: 16px;
  bottom: 0px;
  overflow: hidden;
  border-radius: 32px;
}
div#brand_img img {
  /* width:100%;
    height:100%; */
  position: absolute;
  right: 0px;
  top: 0px;
}
p.main_title {
  font: bold 6.25em 'Pretendard';
}
p#brand_title {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 1;
  font: bold 6.25em 'Pretendard';
}
p.main_subtitle {
  font: 500 2.5em 'Pretendard';
}
p#brand_subtitle {
  position: relative;
  margin-top: 56px;
}
a.main_btn {
  width: 175px;
  height: 46px;
  display:block;
  text-align: center;
  background: none;
  border: solid 3px white;
  border-radius: 16px 0px 16px 0px;
  font: bold 16px/46px 'Pretendard';
  color: white;
}
a#brand_btn {
  position: relative;
  left: 0px;
  top: 0px;
  margin-top: 42px;
}
/*비주얼영역끝*/
/*본문영역시작*/
div#contents_wrap {
  width: 100%;
  min-height: 2000px;
  /* background:palegreen; */
  position: relative;
  left: 0px;
  top: 0px;
  color: white;
}
div#programs_wrap {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display:flex;
  justify-content:center;
}
section#programs {
  width: 100%;
  height: 1800px;
  position: relative;
  left: 0px;
  top: 0px;
  margin-top: 366px;
  transition: 0.3s ease-out;
}
section#programs.activated {
    /* background:url(/jejureborngil/images/Mask\ group.png) no-repeat center; */
    /* background-size:cover; */
    /* background:rgba(11, 183, 169, 0.3); */
    background:rgba(0, 0, 0, 0.4);

}
div#programs_subwrap {
  height: 340px;
  /* background:pink; */
  position: sticky;
  top: 20%;
  /* margin-top: 128px; */
  /* transform: translateY(50%); */
}
p#programs_title {
  position: relative;
  left: 0px;
  top: 0px;
  text-align: right;
  z-index: 1;
  font: bold 6.25em 'Pretendard';
}
p#programs_subtitle {
  z-index: 1;
}
p.main_text {
  font: 500 1.5em 'Pretendard';
}
p#programs_text {
  /* position:relative;
    left:0px;
    top:0px;*/
  margin-top: 52px;
  z-index: 1;
  line-height: 2em;
}
a#programs_btn {
  margin-top: 42px;
  z-index: 1;
  color:white;
}
nav#course {
  width: auto;
  height: auto;
  position: absolute;
  right: 0px;
  top: 324px;
}
ul#course_list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5vw;
}
ul#course_list li {
  width: 31.2vw;
  height: 43.73vw;
  border-radius: 32px;
}
ul#course_list li:nth-child(1) {
  background: url('/jejureborngil/images/course_img_01.png') no-repeat center;
  background-size: cover;
  transform: translateY(-10.3em);
}
ul#course_list li:nth-child(2) {
  background: url('/jejureborngil/images/course_img_02.png') no-repeat center;
  background-size: cover;
}
ul#course_list li:nth-child(2) div.course_tag {
  background: rgba(60, 86, 38, 0.8);
}
ul#course_list li:nth-child(3) {
  background: url('/jejureborngil/images/course_img_03.png') no-repeat center;
  background-size: cover;
  transform: translateY(-10.3em);
}
ul#course_list li:nth-child(3) div.course_tag {
  background: rgba(57, 82, 106, 0.8);
}
ul#course_list li:nth-child(4) {
  background: url('/jejureborngil/images/course_img_04.png') no-repeat center;
  background-size: cover;
}
ul#course_list li:nth-child(4) div.course_tag {
  background: rgba(153, 84, 64, 0.8);
}
div.course_tag {
  width: 100%;
  height: 25%;
  background: rgba(118, 88, 29, 0.8);
  border-radius: 32px 32px 0px 0px;
}
p.course_title {
  font: bold 2vw 'Pretendard';
  color: white;
  padding: 3vw 3vw;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
/*프로그램끝*/
/*이벤트시작*/
div#event_wrap {
  width: 96%;
  min-height: 1000px;
  margin: 0 auto;
  /* margin-top:112px; */
}
section#event {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  left: 0px;
  top: 0px;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
i.fa-leaf {
  margin-top: 200px;
  font-size: 48px;
}
p#event_subtitle {
  font: 500 60px 'Pretendard';
  margin-top: 16px;
}
p.event_subtitle {
  font: normal 32px 'Pretendard';
  margin-top: 62px;
}
p.event_text {
  margin-top: 64px;
  font: normal 24px 'Pretendard';
}
div#musicevent_wrap {
  width: 1000px;
  height: 180px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
  margin-bottom: 108px;
}
div#musicevent_wrap::after {
  content: '';
  display: block;
  width: 3px;
  height: 144px;
  background: white;
  top: 50%;
  margin-top: -72px;
  left: 50%;
  margin-left: 1.5px;
  position: absolute;
}
p#musicevent_title {
  background: rgba(0, 0, 0, 0.25);
  width: 440px;
  height: 180px;
  text-align: center;
  line-height: 180px;
}
p#musicevent_text {
  background: rgba(0, 0, 0, 0.25);
  width: 440px;
  height: 180px;
  font: normal 20px 'Pretendard';
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}
span#musicevent_subtext {
  font: normal 18px/2em 'Pretendard';
}
i.fa-mountain-sun {
  font-size: 44px;
  margin-bottom: 16px;
}
a#event_btn {
  margin: 60px 0px;
}
/*이벤트끝*/
/*갤러리시작*/
div#gallery_wrap {
  width: 96%;
  min-height: 800px;
  margin: 0 auto;
}
section#gallery {
  width: 100%;
  height: auto;
  margin-top: 366px;
}
p#gallery_title {
  text-align: right;
  margin-bottom: 56px;
}
ul#gallery_list {
  width: 100%;
  height: auto;
  padding: 16px;
  box-sizing: border-box;
  margin-top: 2.6vw;
}
ul#gallery_list li {
  width: 100%;
  height: 30.14vw;
  border-radius: 32px;
  margin-bottom: 32px;
  background-size:cover;
  overflow:hidden;
  position:relative;
  left:0px;
  top:0px;
}
ul#gallery_list li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-out;
}
ul#gallery_list li p.hover_text{
    font:normal 32px 'Pretendard'; 
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    color:white;
    opacity:0;
    transition:0.2s ease-out;
}
ul#gallery_list li:hover img {
    transform:scale(1.03);
    filter: brightness(0.6);
}
ul#gallery_list li:hover .hover_text{
    opacity:1;
}

/*갤러리끝*/
/*프로모션시작*/
div#promotion_wrap {
  width: 96%;
  min-height: 800px;
  margin: 0 auto;
  /* display:none; */
}
section#promotion {
  width: 100%;
  height: auto;
  margin-top: 366px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
p#promotion_title {
  margin-right: auto;
  margin-bottom: 72px;
}
div.promotion_container {
  width: 96%;
  /* height:754px; */
  height: auto;
  margin-bottom: 200px;
}
p.promotion_subtitle {
  font: 500 4em 'Pretendard';
  margin-bottom: 20px;
}
p.promotion_text {
  margin-bottom: 52px;
}
ul.promotion_list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
ul.promotion_list li {
  width: 24%;
  height: 31.91vw;
  /* height:auto; */
  background: rgba(255, 255, 255, 1);
  border-radius: 32px;
}
p.promotion_img {
  margin: 1.59vw;
  overflow:hidden;
  /* position: relative; */
  border-radius: 16px;
  background: red;;
}
p.promotion_img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit:cover;
  transition: transform 0.3s ease-out;
}
p.promotion_img:hover img{
    transform:scale(1.1);
    object-fit:cover;
}
p.promotion_name {
  font: 500 1.65vw 'Pretendard';
  margin: 1.89vw;
}
p.promotion_name span {
  color: black;
  font: normal 1.18vw 'Pretendard';
  margin-left: 0.47vw;
}
p.promotion_adress {
  color: black;
  font: normal 1.18vw 'Pretendard';
  margin-left: 1.89vw;
  margin-top: -0.23vw;
}

/*프로모션끝*/

/*미디어커리시작*/
@media screen and (max-width: 1400px) {
  div#brand_img {
    width: 84.28vw;
  }
}
@media screen and (max-width: 1175px) {
  body {
    font: normal 12px 'Pretendard';
  }
  div#mainheader_logo {
    font: bold 108px 'Pretendard';
    word-break: break-all;
  }
  section#brand {
    height: auto;
    /* margin-top:192px; */
  }
  p#brand_title {
    /* top:300px; */
  }
  div#brand_img {
    /*해당포인트때 크기 990.29px*/
    width: 100%;
    height: auto;
    left: 50%;
    position: relative;
    margin-left: -50%;
    top: 0px;
  }
  p#brand_subtitle {
    margin-top: -24px;
  }
  a#brand_btn {
    margin-top: 24px;
  }
  section#programs {
    height: auto;
  }
  p#programs_title {
    text-align: start;
  }
  div#programs_subwrap {
    height: 300px;
    position: relative;
    top: 0px;
    margin-top: 0px;
  }
  p#programs_subtitle {
    font: 500 30px 'Pretendard';
  }
  p#programs_text {
    margin-top: 20px;
    font: 500 24px/36px 'Pretendard';
  }
  a#programs_btn {
    margin-top: 24px;
  }
  nav#course {
    position: relative;
    left: 0px;
    top: 0px;
    /* margin-top:48px; */
  }
  ul#course_list {
    position: relative;
  }
  ul#course_list li {
    width: 43vw;
    height: 65vw;
    gap: 2vw;
  }
  p.course_title {
    font: bold 3.2vw 'Pretendard';
    padding: 3.74vw 3.4vw;
  }
  section#event {
    margin-top: 256px;
  }
  i.fa-leaf {
    margin-top: 128px;
  }
  p#event_subtitle {
    margin-bottom: 44px;
  }
  p.event_text {
    margin-top: 32px;
  }
  div#musicevent_wrap {
    margin-top: 128px;
    margin-bottom: 128px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 440px;
    height: auto;
  }
  div#musicevent_wrap::after {
    width: 80px;
    height: 2px;
    left: 50%;
    margin-left: -40px;
    top: 50%;
    margin-top: -1px;
    display: none;
  }
  p#musicevent_text {
    margin-top: 32px;
  }
  span#musicevent_subtext {
    font: normal 16px/2em 'Pretendard';
  }
  p.event_subtitle {
    margin-top: 44px;
  }
  section#gallery {
    margin-top: 200px;
  }
  section#promotion {
    margin-top: 192px;
  }
  p.promotion_subtitle {
    margin-left: 44px;
  }
  p.promotion_text {
    margin-left: 44px;
  }
  div.promotion_container {
    margin-bottom: 156px;
  }
  ul.promotion_list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  ul.promotion_list li {
    width: 45%;
    height: auto;
    margin-bottom: 2.89vw;
  }
  p.promotion_img {
    margin: 3.4vw;
  }
  p.promotion_name {
    font: 500 2.72vw 'Pretendard';
    margin: 2.89vw;
  }
  p.promotion_name span {
    color: black;
    font: normal 2.04vw 'Pretendard';
    margin-left: 0.47vw;
  }
  p.promotion_adress {
    color: black;
    font: normal 2.04vw 'Pretendard';
    margin: -0.23vw 2.89vw 3.4vw 2.89vw;
  }
}
@media screen and (max-width: 768px) {
  body {
    font: normal 8px 'Pretendard';
  }
  div#mainheader_logo {
    font: bold 72px 'Pretendard';
    word-break: break-all;
  }
  div#brand_img {
    margin-top: -24px;
  }
  p#brand_text {
    font: 500 24px 'Pretendard';
  }
  a.main_btn {
    width: 157.5px;
    height: 41.4px;
  }
  p#programs_subtitle {
    margin-top: 24px;
    font: 500 24px 'Pretendard';
  }
  p#programs_text {
    margin-top: 24px;
    font: 500 20px/30px 'Pretendard';
  }
  a#programs_btn {
    margin-top: 24px;
  }
  nav#course {
    margin-top: 36px;
  }
}
