main{
    width:100%;
}
section{
    margin-bottom:24px;
}
/* 비주얼섹션 시작 */
#visualsection{
    width:100%;
    height:600px;
    background:burlywood;
    /* display: none; */
}
.visual_list{
    width:100%;
    height:100%;
}
.visual_list>li{
    width:100%;
    height:100%;
    background:url(/gongcha/images/visual_slideback_01.png) no-repeat center;
    background-size: cover;
}
/* 비주얼섹션 끝 */
/* 메뉴섹션 시작 */
#menusection{
    width:100%;
    min-height:600px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding:24px 0px;
    overflow: hidden;
}
.section_title{
    font:600 20px 'pretendard';
    text-align:center;
    margin-bottom:28px;
}
nav.menubtn{
    width:91.11%;
    height:20px;
    margin-bottom:68px;
}
ul.menubtn_list{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    font:600 16px 'pretendard';
}
ul.menubtn_list>li>button{
    position: relative;
    left:0px;
    top:0px;
}
ul.menubtn_list>li>button::after{
    content: "";
    display: block;
    width:100%;
    height:2px;
    background: none;
    position: absolute;
    left:0px;
    bottom:-6px;
}
ul.menubtn_list>li.selected>button{
    color:#a1011b;
}
ul.menubtn_list>li.selected>button::after{
    background:#a1011b;
}
div#menu_container{
    width: 100%;
    height:460px;
    position: relative;
    left:0px;
    top:0px;
    z-index: 1;
    overflow: visible;
}
ul.menucard_list{
    width:100%;
    height:394px;
}
ul.menucard_list>li.swiper-slide{
    width: 267px;
    /* width:74.14%; */
    height:394px;
    overflow: hidden;
}
div.menucard_inner{
    width:100%;
    height:100%;
    background:#faedda;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    box-sizing:border-box;
}
.menucard_inner>span>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.custom_fraction {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:0px;
}
.fraction_icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.pagination-text {
    color: black;
}
.swiper-slide{
    transition: transform 0.3s ease;
}
.swiper-slide-active{
    transform: translateY(-20px);
    z-index:1;
}
.swiper-slide-active .menucard_img{
    translate: 0px 144px;
}
.swiper-slide-next, .swiper-slide-prev {
    transform: translateY(0); /* 이전, 다음 슬라이드는 기본 위치 */
  }
p.menucard_name{
    font:bold 14px 'pretendard';
    margin-bottom:20px;
}
span.menucard_en{
    font:400 48px/48px 'monoton';
}
span.menucard_img{
    position: absolute;
    transform: scale(1.6,1.6);
    translate: 0px 284px;
    transition: 0.3s;
}
/* 메뉴섹션 끝 */
/* 베스트메뉴 주문방법 시작 */
.colorsection{
    width:95%;
    height:276px;
    box-sizing: border-box;
    padding:24px 0px;
}
.redname{
    display:inline-block;
    font:bold 16px 'pretendard';
    color:#a1011b;
    border-bottom:solid 2px #a1011b;
    padding-bottom:4px;
    margin-bottom:16px;
}
.section_btn{
    display: inline-block;
    font:500 14px/20px 'pretendard';
    position: relative;
    left:0px;
    top:0px;
}
.section_btn::after{
    content:"";
    display:block;
    width:20px;
    height:20px;
    background:url(/gongcha/images/mobilesection_btn.svg)no-repeat center;
    position: absolute;
    right:-28px;
    top:0px;
}
.sectioninner_wrap{
    width:100%;
    position: relative;
    left:0px;
    top:0px;
}
#bestsection{
    background:#EBF3DF;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}
#bestsection>h2{
    margin-bottom:8px;
}
.bestmenu_img{
    width:43%;
    height:186px;
    background:url(/gongcha/images/mobilebestmenu.png)no-repeat center;
    position: absolute;
    left:0px;
    top:0px;
}
.bestmenu_inner{
    width:59.9%;
    position: absolute;
    right:16px;
    margin-top:40px;
}
.bm_text{
    font:500 14px/20px 'pretendard';
    margin-bottom:20px;
}
#howtoordersection{
    background:#D8E9F5;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    margin-left:auto;
    margin-right:0px;
}
.howtoorder_inner{
    width:69.76%;
    padding:4px 16px;
    box-sizing: border-box;
    /* position: absolute;
    left:0px;
    top:0px; */
    /* 앱솔루트로 띄우면 부모의 높이값이 없어짐. 그럼 howtoorder_img 위치를 잡기 어려움 */
}
.order_text{
    font:500 14px 'pretendard';
    margin-bottom:56px;
}
.howtoorder_img{
    display: block;
    width:46.51%;
    height:132px;
    background:url(/gongcha/images/mobilehowtoorder.png)no-repeat center;
    position: absolute;
    right:16px;
    bottom:-24px;
}
/* 베스트메뉴 주문방법 끝 */
/* 배너섹션 시작 */
#bannersection_wrap{
    width:100%;
    height:312px;
    box-sizing: border-box;
    padding:28px 20px;
}
.bannersection{
    width:100%;
    height:120px;
}
#deliverysection{
    background:#F0EDEB;
    margin-bottom:16px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.delivery_inner{
    width:80%;
    height:92px;
    /* background:pink; */
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.delivery_title{
    width:126px;
    height:72px;
    font:bold 20px 'pretendard';
    color:#1E1E1E;
}
.delivery_title>span{
    color:#a1011b;
}
.deliveryapp_wrap{
    width:92px;
    height:92px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.deliveryapp_wrap>a{
    display: block;
    width:46px;
    height:46px;
    text-indent:-9999px;
    border-radius: 4px;
}
.deliveryapp_wrap>a:nth-child(1){
    background:url(/gongcha/images/mobiledelivery01.png)no-repeat center;
}
.deliveryapp_wrap>a:nth-child(2){
    background:url(/gongcha/images/mobiledelivery02.png)no-repeat center;
}
.deliveryapp_wrap>a:nth-child(3){
    background:url(/gongcha/images/mobiledelivery03.png)no-repeat center;
}
.deliveryapp_wrap>a:nth-child(4){
    background:url(/gongcha/images/mobiledelivery04.png)no-repeat center;
}
#storesection{
    background:black;
}



/* 배너섹션 끝 */

#store_wrap>p{
    font:600 2.5rem 'pretendard';
    color:white;
    margin-bottom:1.25rem;
}
div#place_bar{
    width:382px;
    height:48px;
    margin-bottom:1em;
    background:white;
    border-radius: 32px;
    position: relative;
    left:0px;
    top:0px;
}
#place_bar>input{
    width:120px;
    height:30px;
    margin-left:24px;
    font:600 24px 'pretendard';
    color:#1E1E1E;
    margin-top:8px;
    border:none;
    outline:none;
}
#place_bar>button{
    width:36px;
    height:36px;
    border-radius: 50%;
    background:url(/gongcha/images/search.png) no-repeat center;
    border:none;
    position: absolute;
    right:4px;
    top:6px;
}
div#place_set{
    width:318px;
    height:24px;
    font:600 20px 'pretendard';
    color:white;
    background: url(/gongcha/images/crosshair.png) no-repeat;
    text-indent:32px;
}