body{
    background:#F7F4F3;
}
div#header_wrap {
    width: 100%;
    height: 90px; /*펼쳤을때높이240px,닫혔을때높이90px*/
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 90px,
      rgba(255, 255, 255, 1) 90px,
      rgba(255, 255, 255, 1) 100%
    );
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
  }
/*비주얼영역시작*/
div#visual_wrap{
    width:100%;
    height:720px;
    display:flex;
    justify-content:center;
    background:url(/jejureborngil/images/course_visual_img_01.png) no-repeat center;
}
section#visual{
    width:96%;
    height:100%;
    /* background:pink; */
    position:relative;
    left:0px;
    top:0px;
}
h2.visual_title{
    font:bold 100px 'Pretendard';
    color:white;
    position:absolute;
    left:0px;
    bottom:0px;
}
/*비주얼영역끝*/
/*컨텐츠영역시작*/
div#contents_wrap{
    width:100%;
    min-height:1000px;
    display:flex;
    justify-content:center;
}
div#course_wrap{
    width:96%;
    height:auto;
    /* background:paleturquoise; */
    display: flex;
    justify-content: center;
}
section#course{
    width:80%;
    min-height:1000px;
    margin-top:128px;
    margin-bottom:128px;
    /* background:pink; */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
div#course_navwrap{
    width:100%;
    height:40px;
}
nav#coursemenu{
    width:500px;
    height:100%;
    /* background:white; */
}
ul#coursemenu_list{
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-between;
}
ul#coursemenu_list li{
    width:auto;
    height:auto;
    font:500 28px 'Pretendard';
}
ul#coursemenu_list li a{
    color:#cccccc;
}
ul#coursemenu_list li.selected a{
    color:black;
}
p.course_title{
    font:500 32px 'Pretendard';
    margin-bottom:16px;
}
p.course_subtitle{
    font:normal 24px 'Pretendard';
    margin-bottom:12px;
}
p.course_text{
    font:normal 20px 'Pretendard';
    margin-top:52px;
}
div.course_subwrap{
    width:100%;
    margin-bottom:112px;
}
section#course div:nth-child(2){
    margin-bottom:0px;
}

p#course_mainimg{
    width:100%;
    height:400px;
    background:url(/jejureborngil/images/course_mainimg.png) no-repeat center;
    background-size:cover;
    margin-top:128px;
    margin-bottom:52px;
}
div#course_guide{
    width:90%;
    height:152px;
    border:solid 1px black;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0px auto;
    margin-top:152px;
    margin-bottom:40px;
}
p#guide_text{
    width:auto;
    height:48px;
    font:normal 20px 'Pretendard';
}
p#course_start{
    width:100%;
    height:600px;
    background:url(/jejureborngil/images/course_start.png) no-repeat center;
    background-size:cover;
}
p#course_square{
    width:100%;
    height:600px;
    background:url(/jejureborngil/images/course_square.png) no-repeat center;
    background-size:cover;
}
p#course_road{
    width:100%;
    height:600px;
    background:url(/jejureborngil/images/course_road.png) no-repeat center;
    background-size:cover;
}
div#commend_wrap{
    width:100%;
    height:auto;
    border-top:solid 1px black;
    border-bottom:solid 1px black;
}
section#commend{
    width:80%;
    min-height:1000px;
    /* background:white; */
    margin:112px auto;
}
p#commend_title{
    text-align:center;
    margin-bottom:92px;
}
ul#commend_list{
    width:100%;
    height:100%;
}
div.commend_img{
    width:100%;
    height:320px;
    margin-bottom:16px;
    display:flex;
    justify-content:space-between;
    gap:16px;    
}

div#commend_img_01{
    width:60%;
    height:100%;
    overflow:hidden;
}
div#commend_img_02{
    width:40%;
    height:100%;
    overflow:hidden;
}
div#commend_img_03, div#commend_img_05{
    width:25%;
    height:100%;
    overflow:hidden;
}
div#commend_img_04{
    width:50%;
}
div#commend_img_01 img, div#commend_img_02 img, div#commend_img_03 img, div#commend_img_04 img, div#commend_img_05 img{
    width:100%;
    height:100%;
    display:block;
    object-fit:cover;
}
p.commend_text{
    font:normal 20px 'Pretendard';
    margin-bottom:52px;
}
button#reserve_btn{
    width:175px;
    height:46px;
    background:none;
    border:solid 2px black;
    border-radius:16px 0px 16px 0px;
    font:normal 16px 'Pretendard';
    margin-top:112px;
}