body{
    background:#F7F4F3;
}
div#header_wrap {
    width: 100%;
    height: 90px; /*펼쳤을때높이240px,닫혔을때높이90px*/
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 90px,
      rgba(255, 255, 255, 1) 90px,
      rgba(255, 255, 255, 1) 100%
    );
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
  }
/*비주얼영역시작*/
div#visual_wrap{
    width:100%;
    height:720px;
    display:flex;
    justify-content:center;
    background:url(/jejureborngil/images/course_visual_img_01.png) no-repeat center;
}
section#visual{
    width:96%;
    height:100%;
    /* background:pink; */
    position:relative;
    left:0px;
    top:0px;
}
h2.visual_title{
    font:bold 100px 'Pretendard';
    color:white;
    position:absolute;
    left:0px;
    bottom:0px;
}
/*비주얼영역끝*/
/*컨텐츠영역시작*/
div#programs_wrap{
    width:100%;
    min-height:1000px;
    display:flex;
    justify-content:center;
}
section#programs{
    width:85%;
    margin-top:128px;
}
ul#programs_list{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
}
ul#programs_list li{
    width:100%;
    height:auto;
    display:flex;
    flex-wrap:no-wrap;
    justify-content:start;
    margin-bottom:72px;
}
p.course_img{
    width:540px;
    height:700px;
    border-radius:16px;
    /* background:red; */
}
p.course_img img{
    width:100%;
    height:100%;
    /* object-fit:cover; */
    display:block;
}
div.course_guide{
    width:800px;
    height:700px;
    padding:16px 0px 0px 72px;
    box-sizing:border-box;
    position:relative;
    left:0px;
    top:0px;
}
p.course_title{
    font:500 2em 'Pretendard';
    margin-bottom:32px;
    margin-top:16px;
}
p.course_subtitle{
    font:normal 1.5em 'Pretendard';
    margin-bottom:12px;
}
p.course_text{
    font:normal 1.25em 'Pretendard';
    margin-bottom:16px;
}
button.view_btn{
    width:175px;
    height:46px;
    border:solid 2px black;
    border-radius:16px 0px 16px 0px;
    font:normal 1em 'Pretendard';
    background:none;
    position:absolute;
    bottom:0px;
}
/*컨텐츠영역끝*/
/*미디어커리시작*/
@media screen and (max-width:1500px){
    div#programs_wrap{
        font:normal 12px 'Pretendard'
    }
    div.course_guide{
        width:60%;
        padding:4.8vw;
    }
}
@media screen and (max-width:980px){
    ul#programs_list li{
        flex-direction:column;
        /* justify-content:center; */
        align-content:center;
        flex-wrap:wrap;
    }
    p.course_img{
        width:80%;
        height:auto;
        /* background:blue; */
        display:flex;
        justify-content: center;
    }
    p.course_img img{
        width:90%;
    }
    div.course_guide{
        width:80%;
        height:auto;
        padding:40px;
        /* background:red; */
    }
    p.course_text{
        margin-bottom:48px;
    }
    button.view_btn{
        left:50%;
        transform:translateX(-50%);
    }

}