/* 기본설정 시작 */
body, html{
    height:100%;
    font-size: 16px;
}
a{
    text-decoration: none;
    color:black;
}
.hidden{
    width:1px;
    height:1px;
    font-size:0px;
    line-height:0px;
    position:absolute;
    top:0px;
}
ul.skipmenu_list li a:focus{
    width:100%;
    height:30px;
    background:black;
    color:white;
    font-size:14px;
    line-height:30px;
    z-index: 9999;
    text-align: center;
}
/* 기본설정 끝 */
/* 상단영역 시작 */
div#header_wrap{
    width:100%;
    height:88px; 
    /* 펼치면 280px */
    display: flex;
    justify-content: center;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    left:0px;
    top:0px;
    z-index: 999;
    overflow: hidden;
}
header{
    /* width:63.54%; */
    width:1200px;
    height:100%;
    display: flex;
    justify-content: center;
    position: relative;
}
h1#logo{
    width:62px;
    height:81px;
    background: url(/gongcha/images/logo.png);
    position: absolute;
    left: 16px;
    top: 4px;
}
h1#logo>a{
    display: block;
    width:100%;
    height:100%;
    text-indent: -9999px;
}
nav#mainmenu{
    /* width:680px; */
    width:56.66%;
    height:36px;
    position:absolute;
    left:16.66%; /* 200px */
    top:28px;
}
ul#mainmenu_list>li.selected > a{
    color:#a1011b;
}
ul#mainmenu_list>li > a::after{
    content: "";
    display: block;
    width:100%;
    height:3px;
    background: #a1011b;
    position: absolute;
    left:0px;
    bottom:-20px;
    opacity: 0;
    transition: 0.2s;
}
ul#mainmenu_list>li.selected > a::after{
    bottom:-12px;
    opacity: 1;
}
ul#mainmenu_list{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    background:white;
}
ul#mainmenu_list>li{
    width:25%;
    height:100%;
    /* background:paleturquoise; */
    position:relative;
    left:0px;
    top:0px;
    text-align: center;
}
ul#mainmenu_list>li>a{
    font:600 22px 'pretendard';
    /* background: red; */
    position: relative;
    transition: 0.2s;
}
ul.submenu_list{
    width:100%;
    height:180px;
    position: absolute;
    left:0px;
    top:56px;
    /* background:greenyellow; */
}
ul.submenu_list>li{
    margin-bottom:24px;
    display:none;
    opacity: 0;
}
ul.submenu_list>li>a{
    font:400 16px 'pretendard';
    display: block;
    /* opacity: 0; */
}
ul.submenu_list>li:hover >a{
    color:#a1011b;
}
a.franchise{
    display: block;
    width:108px;
    height:44px;
    background:black;
    border-radius: 28px;
    color:white;
    position: absolute;
    right:148px;
    top:24px;
    font:500 20px/44px 'pretendard';
    text-align: center;
}
nav#snsmenu{
    width:112px;
    height:24px;
    position: absolute;
    right:0px;
    top:32px;
}
ul#snsmenu_list{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-between;
}
ul#snsmenu_list>li{
    width:24px;
    height:24px;
    background: black;
    text-indent: -9999px;
}
ul#snsmenu_list>li>a{
    display: block;
    width:100%;
    height:100%;
}
ul#snsmenu_list>li:nth-child(1){
    background: url(/gongcha/images/sns_facebook.svg);
}
ul#snsmenu_list>li:nth-child(2){
    background: url(/gongcha/images/sns_instagram.svg);
}
ul#snsmenu_list>li:nth-child(3){
    background: url(/gongcha/images/sns_message.svg);
}
/* 상단영역 끝 */
/* 하단영역 시작 */
div#footer_wrap{
    width:100%;
    height:324px;
    background: #a1011b;
    display: flex;
    justify-content: center;
}
footer{
    width:1200px;
    height:100%;
    display: flex;
    align-items: center;
}
.ft_inner{
    width:100%;
    height:214px;
}
.ft_logo_sns{
    width:100%;
    height:38px;
    margin-bottom:32px;
    display: flex;
    justify-content: space-between;
}
.ft_logo_sns>a{
    font:700 32px 'pretendard';
    color:white;
}
.ft_sns{
    width:104px;
    height:24px;
    display: flex;
    justify-content: space-between;
}
.ft_logo_sns>.ft_sns>a{
    width:24px;
    height:24px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-indent: -9999px;
}
.ft_logo_sns>.ft_sns>a:nth-child(1){
    background: url(/gongcha/images/ft_facebook.png);
}
.ft_logo_sns>.ft_sns>a:nth-child(2){
    background: url(/gongcha/images/ft_instagram.png);
}
.ft_logo_sns>.ft_sns>a:nth-child(3){
    background: url(/gongcha/images/ft_kakao.png);
}
.ft_info_wrap{
    width:100%;
    height:144px;
    display: flex;
    justify-content: space-between;
}
.ft_menu{
    width:140px;
    height:144px;
    margin-left:8px;
}
ul.ft_menu_list{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ul.ft_menu_list>li>a{
    font:700 20px 'pretendard';
    color:white;
}
.ft_info{
    width:372px;
    height:132px;
    margin-top:12px;
    font:700 16px 'pretendard';
    color:white;
}
.ft_info address p{
    margin-bottom:24px;
}
.ft_info address p:nth-child(2){
    margin-bottom:8px;
}

/* 하단영역 끝 */