/* 비주얼영역 시작 */
div#visual_wrap{
    width:100%;
    height:850px;
    background:peachpuff;
    margin-top:88px;
    /* overflow: hidden; */
}
ul#visual_list{
    width:100%;
    height:100%;
    position: relative;
    left:0px;
    top:0px;
}
ul#visual_list li {
    width: 100%;
    height: 100%;
    position:absolute;
    left:0px;
    top:0px;
    display: flex;
    justify-content: center;
}
ul#visual_list li:nth-child(1) {
    background:url(/gongcha/images/visual_slideback_01.png)no-repeat center center;
    background-size:cover;
}
ul#visual_list li:nth-child(2) {
    background:url(/gongcha/images/visual_slideback_02.png)no-repeat center center;
    background-size:cover;
}
ul#visual_list li:nth-child(3) {
    background:url(/gongcha/images/visual_slideback_03.png)no-repeat center center;
    background-size:cover;
}
section.visual_text{
    width:1200px;
    min-width:768px;
    height:100%;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
}

/* 비주얼영역 끝 */
/* 본문영역 시작 */
/* 본문기본설정 시작 */
div#contents_wrap{
    width:100%;
    min-height:680px;
}
.section_title{
    font:600 50px 'pretendard';
    text-align: center;
    margin-bottom: 32px;
}
.section_subtitle{
    font:600 32px 'pretendard';
}
.section_text{
    font:400 20px 'pretendard';
}
a.view_more{
    width:220px;
    height:60px;
    display: block;
    display: flex;
    border:solid 2px black;
    box-sizing: border-box;
    border-radius: 44px;
    text-align: center;
    font:600 16px/60px 'pretendard';
    text-indent: 32px;
    position: relative;
}
span.view_btn{
    display: block;
    width:34px;
    height:30px;
    background:url(/gongcha/images/arrow_right.png);
    position: absolute;
    right:32px;
    top:15px;
    text-indent: -9999px;
}
/* 본문기본설정 끝 */
/* 메뉴영역 시작 */
#menu_section{
    width:100%;
    height:880px;
    margin-top:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 180px;
    overflow: hidden;
}
.sectionmenu_list{
    width:800px;
    height:50px;
    display: flex;
    justify-content: space-between;
    margin-bottom:60px;
}
.sectionmenu_list li{
    position: relative;
    left:0px;
    top:0px;
}
.sectionmenu_list li button{
    all: unset;
    font:500 22px/50px 'pretendard';
}
.sectionmenu_list li.active button{
    color:#A1011B;
    display: block;
}
.sectionmenu_list li button::after{
    content: "";
    display: block;
    width:100%;
    height:4px;
    background:none;
    position: absolute;
    left:0px;
    bottom:0px;
}
.sectionmenu_list li.active button::after{
    background:#A1011B;
}
div#menu_container{
    width:100%;
    height:734px;
    display: flex;
    align-items: end;
}
.menucard_list{
    width:fit-content;
    height:594px;
    display: flex;
    gap: 16px;
}
.menucard_list li{
    width:404px;
    height:594px;
}
.menucard_wrap{
    width:100%;
    height:100%;
    background:#faedda;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    left:0px;
    top:0px;
}
.menucard_list li:hover .menucard_wrap{
    transform: translateY(-92px);
}
.menucard_name{
    font:600 14px 'pretendard';
    margin-top:32px;
    margin-bottom:20px;
}
.menucard_en{
    font:400 72px/72px 'monoton';
    text-align: center;
}
.menucard_img{
    position: absolute;
    transform: scale(1.6,1.6);
    translate: 0px 428px;
    transition: 0.3s;
}
.menucard_list li:hover .menucard_img{
    translate: 0px 260px;
}
/* 메뉴영역 끝 */
/* 베스트메뉴영역 시작 */
div#best_wrap{
    width:100%;
    min-height:600px;
    margin-bottom:180px;
}
section#best_section{
    width:100%;
    height:653px;
}
div.best_container_inner{
    width:100%;
    height:428px;
    margin-top:168px;
    display: flex;
}
div.best_container_left{
    position:relative;
    left:0px;
    top:0px;
    width:56%;
    height:100%;
    background:#EBF3DF;
}
div.best_container_left>span.menucard_en{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:30%;
}
span.bestmenu_img{
    width:406px;
    height:510px;
    position:absolute;
    right:-44px;
    bottom:44px;
    background: url(/gongcha/images/bestmenu_img.png)no-repeat center;
}
div.best_container_right{
    margin-left:44px;
}
div.best_container_right>p:first-child{
    margin-top:66px;
    margin-bottom:28px;
}
div.best_container_right>a{
    margin-top:152px;
}
/* 베스트메뉴영역 끝 */
/* 주문방법영역 시작 */
div#howto_wrap{
    width:100%;
    min-height:600px;
    margin-bottom:180px;
}
section#howto_section{
    width:100%;
    height:639px;
}
div.howto_container_inner{
    width:100%;
    height:400px;
    margin-top:182px;
    display:flex;
}
div.howto_container_left{
    width:44%;
    height:100%;
    position: relative;
    left:0px;
    top:0px;
}
div.howto_left_inner{
    width:346px;
    height:244px;
    position: absolute;
    right:20%;
    top: 50%;
    transform: translateY(-50%);
}
div.howto_left_inner>p:first-child{
    margin-bottom:28px;
}
div.howto_left_inner>a{
    margin-top:68px;
}
div.howto_container_right{
    width:56%;
    height:100%;
    background:#D8E9F5;
    position: relative;
    left:0px;
    top:0px;
}
span.howto_img{
    position:absolute;
    left:44px;
    bottom:62px;
    width:624px;
    height:520px;
    background:url(/gongcha/images/howto_img.png)no-repeat center;
}

/* 주문방법영역 끝 */

#banner_wrap{
    width:100%;
    height:252px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom:100px;
}
#banner_section{
    width:1400px;
    height:252px;
    display:flex;
    justify-content: space-between;
}
.banner_wrap{
    width:670px;
    height:252px;
    border-radius:72px 0px 72px 72px;
    box-sizing: border-box;
}
#delivery_wrap{
    background:#F0EDEB;
    padding:36px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#delivery_wrap>p{
    width:auto;
    height:auto;
    font:600 2.5rem 'pretendard';
    color:#1E1E1E;
}
#delivery_wrap>p>span{
    color:#A1011B;
}
#delivery_wrap #deliverylogo_wrap{
    width:180px;
    height:180px;
}
ul#logo_list{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
ul#logo_list>li {
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
ul#logo_list>li:nth-child(1) {
    background-image: url(/gongcha/images/delivery01.png);
}
ul#logo_list>li:nth-child(2) {
    background-image: url(/gongcha/images/delivery02.png);
}
ul#logo_list>li:nth-child(3) {
    background-image: url(/gongcha/images/delivery03.png);
}
ul#logo_list>li:nth-child(4) {
    background-image: url(/gongcha/images/delivery04.png);
}
#store_wrap{
    background:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:40px;
}
#store_wrap>p{
    font:600 2.5rem 'pretendard';
    color:white;
    margin-bottom:1.25rem;
}
div#place_bar{
    width:382px;
    height:48px;
    margin-bottom:1em;
    background:white;
    border-radius: 32px;
    position: relative;
    left:0px;
    top:0px;
}
#place_bar>input{
    width:120px;
    height:30px;
    margin-left:24px;
    font:600 24px 'pretendard';
    color:#1E1E1E;
    margin-top:8px;
    border:none;
    outline:none;
}
#place_bar>button{
    width:36px;
    height:36px;
    border-radius: 50%;
    background:url(/gongcha/images/search.png) no-repeat center;
    border:none;
    position: absolute;
    right:4px;
    top:6px;
}
div#place_set{
    width:318px;
    height:24px;
    font:600 20px 'pretendard';
    color:white;
    background: url(/gongcha/images/crosshair.png) no-repeat;
    text-indent:32px;
}

/* 본문영역 끝 */

/* 미디어커리 시작 */
@media screen and (max-width:1400px) {
    body,html{
        font-size: 14px;
    }
    #banner_wrap{
        width:100%;
    }
    .banner_wrap{
        width:48%;
    }
    #delivery_wrap{
        padding: 2.57vw 7.14vw;
    }
    #delivery_wrap #deliverylogo_wrap{
        width:160px;
        height:160px;
    }
}
@media screen and (max-width:1200px) {

    
}
@media screen and (max-width:800px){
    .sectionmenu_list{
        width:100%;
    }
}